* {
    padding: 0;
    margin: 0;
}

:root {
    --primary: #1EB858;
    --dark_primary: #13a24a;
    --light_primary: #39D472;
    --secondary: #119ac0;
    --dark_secondary: #006885;
    --light_secondary: #40b0ce;
    /* --light: #e8f3ef;
    --dark: #403D39; */
    --ui_white: #fdfffe;
    --ui_dark: #353535;
    --text_light: #ffffffaf;
    --text_dark: #1d1d1daf;
    --light: #fffffff6;
    --white: #ffffff;
    --dark: #000000f6;
    --black: #000000;
}

body {
    background: var(--ui_white) !important;
}

html {
    scroll-behavior: smooth;
}

.heading_underline {
    height: 3px;
    width: 140px;
    background: var(--primary);
}

#content {
    overflow-x: hidden;
}

/* text  */

.text_light {
    color: var(--light) !important;
}

.text_dark {
    color: var(--dark) !important;
}

.text_secondary {
    color: var(--secondary) !important;
}

.text_primary {
    color: var(--primary) !important;
}

.text_primary_shade {
    background: linear-gradient(45deg, #2ada6a, #0bad49);
    -webkit-background-clip: text;
    color: transparent;
}

.text_light_primary {
    color: var(--light_primary) !important;
}

.text_dark_primary {
    color: var(--dark_primary) !important;
}

.text_lighter {
    color: var(--text_light) !important;
}

.text_darker {
    color: var(--text_dark) !important;
}

.text_ui_light {
    color: var(--ui_white) !important;
}

.text_ui_dark {
    color: var(--ui_dark) !important;
}

.text-white-75 {
    color: #ffffffc7 !important;
}

/* backgrounds  */

.bg_primary {
    background: var(--primary) !important;
}

.gradient_bg_primary {
    background: linear-gradient(271deg, var(--dark_primary), var(--primary));
}

.bg_dark_primary {
    background: var(--dark_primary) !important;
}

.bg_secondary {
    background: var(--secondary) !important;
}

/* default  */
.wrapper {
    max-width: 1180px !important;
}

.fs_4 {
    font-size: 1.35rem !important;
}

.fs_5 {
    font-size: 1.1rem !important;
}

.fs_6 {
    font-size: 0.92rem !important;
}

.fs_7 {
    font-size: 0.85rem !important;
}

.fs_xs {
    font-size: 0.813rem !important;
}

.fs_vs {
    font-size: 0.75rem !important;
}

/* buttons  */
.btn_outline_primary {
    text-decoration: none !important;
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary) !important;
    fill: var(--primary) !important;
    border-radius: 5px;
    padding: 0.375rem 1.5rem;
    transition: 0.25s;
}

.btn_outline_primary:hover {
    background: var(--primary);
    color: var(--ui_white) !important;
    fill: var(--ui_white) !important;
}

.btn_primary {
    text-decoration: none !important;
    background: linear-gradient(271deg, var(--dark_primary), var(--primary));
    border: 1px solid var(--primary);
    color: var(--ui_white) !important;
    fill: var(--ui_white) !important;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    transition: 0.25s;
}

.btn_primary:hover {
    color: var(--white) !important;
}

.iconTransform {
    transition: 0.25s;
}

.iconBtn:hover.iconBtn .iconTransform {
    transform: translateX(4px);
}


.btn_dark {
    text-decoration: none !important;
    /* background: linear-gradient(271deg, var(--ui_dark), var(--ui_dark)); */
    background: var(--ui_dark);
    border: 1px solid var(--ui_dark);
    color: var(--ui_white) !important;
    fill: var(--ui_white) !important;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    transition: 0.25s;
}

.btn_dark:hover {
    background: var(--dark);
    border: 1px solid var(--dark);
    color: var(--white) !important;
}


/* navbar  */
.logoTxt {
    background: linear-gradient(178deg, #257a45, #28aa5a, #56f18e);
    -webkit-background-clip: text;
    color: transparent;
}

@media (max-width: 425px) {
    .logoTxt {
        display: none !important;
    }
    .topbarlinks {
        font-size: 0.785rem !important;
    }
}

.navbarSection {
    background: var(--ui_white) !important;
}

.navbarSection.isMoving {
    box-shadow: 0 0 10px 0 black;
    background: var(--ui_white) !important;
}

.navbarSection .navText {
    font-size: 0.92rem !important;
}

.navbarSection .nav-link {
    display: inline-flex !important;
    align-items: center !important;
    transition: 0.3s;
    color: var(--ui_dark) !important;
}

.navbarSection .nav-link:hover {
    color: var(--dark_primary) !important;
}

.nav_dropdown.active .nav-link {
    color: var(--primary) !important;
}

.nav_dropdown .nav_dropdown_link i.bx {
    transition: 0.3s;
}

.nav_dropdown.active .nav_dropdown_link i.bx {
    transform: rotateZ(-180deg);
}

.nav_dropdown_menu {
    height: fit-content;
    width: 100%;
    background: var(--ui_white);
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 1;
}

.nav_dropdownImageContainer {
    min-height: 350px;
    width: 100%;
}

.nav_dropdownImageContainer.features {
    background: url(../img/features_dropdown_img.jpg) center;
    background-size: cover;
}

.nav_dropdownImageContainer.solutions {
    background: url(../img/solutions_dropdown_img.jpg) center;
    background-size: cover;
}

.pointer {
    cursor: pointer;
}

.nav_dropdown_menu_linkItem {
    color: var(--ui_dark);
    transition: 0.3s;
}

.nav_dropdown_menu_linkItem:hover {
    color: var(--dark_primary) !important;
}


.navSidebarMoreLinks {
    text-decoration: none !important;
    font-size: 0.9rem !important;
    color: var(--ui_dark);
    transition: 0.3s;
}

.navSidebarMoreLinks:hover {
    color: var(--dark_primary);
}

.navSidebarMoreLinks .arrowicon {
    position: relative;
    left: 5px;
    transition: 0.2s;
}

.navSidebarMoreLinks:hover.navSidebarMoreLinks .arrowicon {
    left: 5px;
}

#navSidebar {
    max-width: 375px;
    background: var(--ui_white) !important;
}

.navSidebarlink {
    display: inline-flex;
    align-items: center;
    text-decoration: none !important;
    color: var(--ui_dark) !important;
    font-size: 0.95rem !important;
    padding: 0.15rem 0.4rem;
    transition: 0.3s;
}

.navSidebarlink:hover {
    color: var(--dark_primary) !important;
}

.navSidebarCollapselinks {
    text-decoration: none !important;
    color: #393939 !important;
    padding: 0.1rem !important;
    font-size: 0.875rem !important;
    transition: 0.3s;
}

.navSidebarCollapselinks:hover {
    color: var(--dark_primary) !important;
}

.navSidebarlink .mdi-chevron-right::before {
    rotate: 0deg;
    transition: 0.2s;
}

.navSidebarlink.active {
    color: var(--dark_primary) !important;
}

.navSidebarlink.active .mdi-chevron-right::before {
    rotate: 90deg;
}

.application_links img {
    height: auto;
    width: 150px;
}

@media (max-width: 320px) {
    .application_links img {
        height: auto;
        width: 50% !important;
    }
}