.pricingWrapperSteps {
    display: none
}

.pricingWrapperSteps.active {
    display: block;
}

.selectBox {
    border: 1px solid #ccc;
    background: transparent;
    cursor: pointer;
    transition: 0.2s;
}

.selectBox:hover,
.selectBox.selected {
    background: #e7f3ed;
    border: 1px solid #b3c3b8;
    color: var(--title_primary);
}

.selectBoxMultiple {
    border: 1px solid #ccc;
    background: transparent;
    cursor: pointer;
    transition: 0.2s;
}

.selectBoxMultiple:hover,
.selectBoxMultiple.selected {
    background: #e7f3ed;
    border: 1px solid #b3c3b8;
    color: var(--title_primary);
}

.selectBoxMultiple img {
    filter: grayscale(1);
}

.selectBoxMultiple.selected img {
    filter: grayscale(0);
}

@media (max-width: 768px) {
    .button_fixed_sm button {
        width: 100%;
    }
}

.imageWrapper {
    position: relative;
}

.imageWrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.exploreMoreLinks {
    background: #f8fcfa;
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 0.4rem 0.65rem;
    transition: 0.25s;
}

.exploreMoreLinks:hover {
    background: #eaf3ed;
    border: 1px solid var(--dark_primary);
    color: var(--dark_primary);
}