#topbar {
    height: auto;
    width: auto;
    padding: 0.6rem 0;
}

header {
    height: 600px;
    width: auto;
    background: url(../img/header.jpg) center;
    background-size: cover;
}