header {
    height: 600px;
    width: auto;
    position: relative;
}

#hero {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(218deg, #00000000, #000000a3);
    position: relative;
}

.headerMedia {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(0.95);
}

.displayAboutCards {
    height: 400px;
    width: auto;
    position: relative;
    overflow: hidden;
}

.displayAboutCards img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    transition: 0.45s ease-in;
}

.displayAboutCards:hover.displayAboutCards img {
    height: 108%;
    width: 108%;
}


.displayAboutCardsOverlay {
    position: relative;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #00000000, #00000027, #000000cc);
    display: flex;
    align-items: end;
}

/* solutions  */
#solutions_section {
    /* background: #f4fbf7; */
    background: #f4fbf733;
}

.solutionDisplayCards {
    height: auto;
    width: auto;
    background: #fdfffed1;
    transition: 0.3s;
}

.solutionDisplayCards:hover {
    background: var(--ui_white);
    box-shadow: 0 3px 8px 2px #00000021;
}

/* about  */
.aboutDisplayCards {
    height: fit-content;
    width: auto;
    overflow: hidden;
}

.solid_bg_1 {
    /* background: linear-gradient(45deg, #eafbf1, #c2ebd5); */
    background: linear-gradient(45deg, #effaf4, #c1f0d6);
}

.image_bg {
    min-height: 500px;
    max-height: fit-content;
    display: flex;
    align-items: center;
    background: linear-gradient(-45deg, #00000000, #000000af), url(../img/features_dropdown_img.jpg) center;
    background-size: cover;
}

.solid_bg_2 {
    background: linear-gradient(-45deg, #effaf4, #c1f0d6);
}

.aboutDisplayImage {
    height: 500px;
    width: 100%;
    position: relative;
}

@media (max-width: 768px) {
    .aboutDisplayImage {
        height: 250px !important;
    }
}

.aboutDisplayImage img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.aboutStatsCard {
    background: #0d0d0d9c;
    border: 1px solid #ffffff5a !important;
}

/* blogs  */
.blogCard {
    height: 440px;
    width: auto;
    background: var(--ui_white);
    overflow: hidden;
    position: relative;
}

.blogCard img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogCardDetails {
    position: relative;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #00000000, #00000096);
}

.blogCardDetails a {
    opacity: 0.9;
    transition: 0.3s;
}

.blogCardDetails a:hover {
    opacity: 1;
}

.contactSection {
    height: fit-content;
    width: auto;
    position: relative;
}

.contactSection::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: 100%;
    background: #f3f3f3;
    z-index: 0;
}

.contactCard {
    position: relative;
    z-index: 1;
}